<div>
  <nav class="r-h-14">
    <ul class="right-nav">
      <li><h2 class="left-header">Invoice</h2></li>
      <li class="entry">Pending Data Entry:</li>
      <li class="entry">Completed:</li>
      <li><raul-button class=".r-p-5">RDE</raul-button></li>
      <li><raul-button class="white">PMC Rules</raul-button></li>
      <li><raul-button class="blue" [routerLink]="['file']">Upload Files</raul-button></li>
    </ul>
  </nav>

  <div class="r-flex r-mb-4">
    <div class="r-w-full r-h-12">
      <div>
        <raul-accordion>
          <raul-accordion-item name="simple-accordion-4">
            <raul-accordion-item-header style="height: 50px;">
              <div class="header-content">
                <raul-accordion-item-title>Search For Invoices</raul-accordion-item-title>
                <div class="search-container">
                  <raul-input type="search" style="color: black;">
                    <input #OIDval type="text" id="search-input" placeholder="Queue OID..." />
                  </raul-input>
                  <raul-button variant="secondary" (click)="filter(OIDval.value)">Search</raul-button>
                  <raul-button variant="text" class="r-text-primary-highlight" (click)="reset()">Reset</raul-button>
                </div>
              </div>
            </raul-accordion-item-header>
      
            <raul-accordion-item-panel>
              <p>Search Filters</p>
            </raul-accordion-item-panel>
          </raul-accordion-item>
        </raul-accordion>
      </div>

      <div *ngIf="filter_data.length >= 0">
        <p> 
          <raul-badge content="{{ filter_data.length }}" 
            variant="{{ filter_data.length === 0 ? 'error' : 'success' }}">
          </raul-badge> 
          invoices found 
        </p>
      </div>

      <raul-paging-bar total-rows="filter_data.length"></raul-paging-bar>

      <raul-grid striped hoverable>
        <raul-grid-header>
          <raul-grid-row>
            <raul-grid-cell class="r-w-auto">
              <raul-checkbox small>
                <input type="checkbox" aria-label="Select All" />
              </raul-checkbox>
            </raul-grid-cell>
            <raul-grid-cell class="r-w-1/5">Queue OID</raul-grid-cell>
            <raul-grid-cell class="r-w-1/5">File Name</raul-grid-cell>
            <raul-grid-cell class="r-w-1/5">User</raul-grid-cell>
            <raul-grid-cell class="r-w-1/5">Status</raul-grid-cell>
            <raul-grid-cell class="r-w-1/5">Created Date</raul-grid-cell>
          </raul-grid-row>
        </raul-grid-header>

        <raul-grid-body>
          <ng-container *ngFor="let row of filter_data">
            <raul-grid-row (click)="openInframe(row)">
              <raul-grid-cell class="r-w-auto">
                <raul-checkbox small>
                  <input type="checkbox" aria-label="Select Row" />
                </raul-checkbox>
              </raul-grid-cell>
              <raul-grid-cell class="r-w-1/5">{{ row.QueueOid }}</raul-grid-cell>
              <raul-grid-cell class="r-w-1/5">{{ row.InvoiceImgUrl }}</raul-grid-cell>
              <raul-grid-cell class="r-w-1/5">{{ row.LoginName }}</raul-grid-cell>
              <raul-grid-cell class="r-w-1/5">
                <raul-status [variant]="row.StatusName === 'success' ? 'success' : row.StatusName === 'working' ? 'warning' : 'destructive'">
                  {{ row.StatusName === 'success' ? 'Success' : row.StatusName === 'working' ? 'Working' : 'Failure' }}
                </raul-status>
              </raul-grid-cell>
              <raul-grid-cell class="r-w-1/5">
                {{ row.Created | date:'short' }} 
              </raul-grid-cell>
            </raul-grid-row>
          </ng-container>
        </raul-grid-body>
      </raul-grid>
    </div> 
  </div>
</div>
